body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    margin-top: 10px;
}

#logo{
    height: 100px;
    background-image: url(../img/img/pattern.png);
    width: 100%;
    background-color: #4ea0ff;
    padding-top: 2.5%;
    float: left;
}

.header h1{
    font-weight: bold;
}

#booleaner span{
    color: rgb(17, 174, 226);
}

#booleaner{
    color: rgb(155, 151, 151);
}

.first span{
    background-color: yellow;
}

table thead{
    background-color: rgb(20, 157, 202);
    color: white;
}

.tabella tbody #first-element{
    background-color: lightblue;
}

.tabella tfoot {
    background-color: lightblue;
}